.shop-card-container {
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 240px;
  }
  
.shop-card-img-container {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  